/* Footer Styles */
.footer-container {
  background-color: #333;
  color: #fff;
  padding: 2rem;
  margin-bottom: -20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
  flex-wrap: wrap;
}

.footer-logo {
  flex: 1;
  text-align: left;
}

.footer-logo h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.footer-logo p {
  font-size: 1.1rem;
  color: #bbb;
}

/* Footer Links */
.footer-links {
  flex: 1;
  text-align: left;
}

.footer-links h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.footer-links ul {
  list-style-type: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 0.5rem;
}

.footer-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.footer-links ul li a:hover {
  color: #ff9900;
}

/* Footer Social Links */
.footer-social {
  flex: 1;
  text-align: left;
}

.footer-social h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.footer-social ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 1.5rem;
}

.footer-social ul li {
  margin-bottom: 0.5rem;
}

.footer-social ul li a {
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-social ul li a:hover {
  color: #ff9900;
}

/* Footer Bottom */
.footer-bottom {
  margin-top: 2rem;
  border-top: 1px solid #444;
  padding-top: 1rem;
  width: 100%;
  /* text-align: center; */
}

.footer-bottom p {
  font-size: 1rem;
  color: #bbb;
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-logo, .footer-links, .footer-social {
    margin-bottom: 2rem;
  }
}


@media (max-width: 600px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-links ul, .footer-social ul {
    display: block;
  }

  .footer-logo h2 {
    font-size: 1.8rem;
  }
}









/* Footer.css */
.footer {
  padding: 1rem 2rem;
  background-color: #222;
  color: #fff;
  text-align: center;
}

.footer p {
  font-size: 0.875rem;
}

/* Responsive */
@media (max-width: 768px) {
  .footer p {
      font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .footer p {
      font-size: 0.75rem;
  }
}
