

/* Services */
.services-container {
  padding: 20px;
  text-align: center;
}

.services-container h1{
  margin-bottom: 20px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.service-card {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  transition: transform 0.3s ease;
}

.service-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.service-card h2 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.service-card p {
  font-size: 1.1rem;
  color: #555;
}

.service-card:hover {
  transform: scale(1.05);
}




@media(max-width: 768px){
   /* services */
   .services-container{
    margin-top: 40px;
  }
}