/* Font sizes */
body {
  font-size: 1rem; /* Default mobile size */
}

@media (min-width: 768px) {
  body {
      font-size: 1.125rem;
  }
}

@media (min-width: 1024px) {
  body {
      font-size: 1.25rem;
  }
}

/* Responsive images */
.responsive-image {
  width: 100%;
  height: auto;
  max-width: 100%;
}
